#sec{
    width: 100%;
     height:100% ; 
     display:flex ;
     flex-wrap:wrap;
}
footer{
    display: flex;
    margin-top:50%;
    height: 30px; 
    background-color:#9cbfe5;
    background-size:50px;
    align-items: center;
    align-content: flex-end;
    align-content: center;
    }
